.m-btn {
  background-color: #019160;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  padding: 0 24px;
  text-align: center;
  border: 0;
  cursor: pointer;
  min-width: 100px;
}

.m-btn:hover {
  background-color: #2fbe8e;
}

.m-btn:active {
  background-color: #01b075;
}

.m-btn-icon {
  background-image: url("../../assets/icon/add.png");
  background-repeat: no-repeat;
  background-position: 16px center;
  padding: 0 16px 0 40px;
  display: flex;
  align-items: center;
}

.m-btn.m-btn-icon .m-btn-text {
  line-height: 40px;
}

.m-btn .m-btn-arrow {
  transform: rotate(90deg);
  transition: 0.2s;
  position: relative;
  top: 2px;
}

.m-btn:hover .m-btn-arrow {
  transform: rotate(-90deg);
}

.m-btn-2 {
  background-color: #eee;
  border: 1px solid #bbb;
  color: #000;
  position: relative;
}

.m-btn-2:hover {
  background-color: #e9ebee;
}

.m-btn-2:active {
  background-color: #01b075;
  color: #fff;
}

.error-text {
  background-color: #ff4747;
  color: #fff;
  position: absolute;
}
