.m-row .container .m-radio {
  display: none;
}

.m-row .container .m-radio + .radio-mark {
  font-size: 13px;
  color: #000;
}

.m-row .container .m-radio + .radio-mark::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1.6px;
  border-color: #bbb;
}

.m-row .container .m-radio:checked + .radio-mark::before {
  background: radial-gradient(#019160 0%, #019160 40%, transparent 50%, transparent);
  border-color: #019160;
}