.m-btn {
  background-color: #2ca01c;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  padding: 0 16px;
  text-align: center;
  border: 0;
  cursor: pointer;
  min-width: 100px;
  font-weight: bolder;
  position: relative;
}

.m-btn[sc-title]:hover::before {
  opacity: 1;
}

.m-btn[sc-title]::before {
  content: attr(sc-title);
  font-size: 12px;
  font-style: oblique;
  display: block;
  position: absolute;
  top: calc(-100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  min-width: 75px;
  text-align: center;
  line-height: 15px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: 0.2s;
  z-index: 5;
}

#saveAddBtn::before {
  width: 170px;
  transform: translateX(-52%);
}

.m-btn:hover {
  background-color: #35bf22;
}

.m-btn-icon {
  background-repeat: no-repeat;
  background-position: 16px center;
  padding: 0 16px 0 40px;
  display: flex;
  align-items: center;
}

.m-btn.m-btn-icon .m-btn-text {
  line-height: 40px;
}

.m-btn .m-btn-arrow {
  transform: rotate(90deg);
  transition: 0.2s;
  position: relative;
  top: 2px;
}

.m-btn:hover .m-btn-arrow {
  transform: rotate(-90deg);
}

.m-btn-2 {
  background-color: transparent;
  border: 1px solid #bbb;
  color: #000;
  position: relative;
}

.m-btn-2:hover {
  background-color: #d2d3d6;
}

.m-btn-2:active {
  background-color: #bbbcbc;
  color: #111;
}

.error-text {
  background-color: #ff4747;
  color: #fff;
  position: absolute;
}
