label {
  display: inline;
  cursor: pointer;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

/* RADIO */

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 8px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  outline: none;
}

.regular-radio:checked + label:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #2CA01C;
  left: 3px;
  font-size: 32px;
}

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #2CA01C;
}

